/* @theme marp */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;400;700&family=Noto+Serif+JP:wght@200;400;700&display=swap");
@import 'default';

section {
    justify-content: start;
    font-size: 20px;
    font-family: "Noto sans JP", sans-serif;
    padding: 30px;
    overflow: visible;
  }

p { line-height: 1.4 }

section.abstract { font-family: "Noto serif JP", serif; }

section.images {
    margin: 0px;
    padding: 0px;
    text-align:center;
}

table {
    display: table;
    table-layout: fixed;
    width: 1600px;
    height: 900px;
}

td {
    background-color: white;
}